body {
	background: #f8f8f8;
}

.App {
	width: 1200px;
	margin: 20px auto;
}
.input,
.output {
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
    padding: 20px;
    background: #fff;
}